<div data-search-tasks-target="list", data-interest-search-target="list", class='row lists-render'>
  <% tasks.each do |task| %>
    <% unless task.user_tasks.exists? %>
      <div class="col-md-4 mb-4 align-right">
        <%= link_to task_path(task), class: " card-link text-decoration-none" do %>
          <div class="card shadow h-100" style="border-radius: 0.5rem;">
            <div class="card-body">
                <h3 class="card-title"><%= task.title %></h3>
                 <div class="add_tasks">
                    <%= link_to 'Add task', user_task_add_path(user_id: current_user, task_id: task), data: { turbo_method: :post }, class: 'btn btn-primary mt-2' %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="pagination d-flex justify-content-end">
    <%= paginate tasks %>
  </div>

</div>

<%= puts @user_tasks %>
