<div data-controller="search-tasks interest-search">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: tasks_path, method: :get, html: {class: "d-flex", data: {search_tasks_target: "form"} } do |f|%>
        <%= f.text_field :query,
              class: "form-control",
              placeholder: "Search for more tasks",
              value: params[:query],
              data: { search_tasks_target: "query",
              action: "keyup->search-tasks#search"
              }
          %>
        <%= f.submit "Search", class: "btn btn-primary d-none", id: "hidden-submit", disabled: true %>
      <% end %>
    </div>
  </div>

  <div class="task-grid-container">
    <div class="container">
      <%= render "interest", tasks: @tasks %>
    </div>
    <div class="container">
      <h2>Tasks</h2>
      <%= render "lists", tasks: @tasks %>
    </div>
  </div>

  <footer class="footer">
    <!-- Footer content -->
  </footer>
</div>
