<div class="boulder-container-container" data-controller="roll-boulder">
  <div class="boulder-container" data-roll-boulder-target="hill">
    <button class="image-button" data-roll-boulder-target="boulder"><%= image_tag "boulder.png", alt: "boulder" %></button>
  </div>
  <div class="content"></div>
  <div class="diagonal-line"></div>


<div class="title-card">
  <h1>Sisyphus</h1>
  <h2>The legend of you trying <br> to get stuff done</h2>
</div>

<div class="list-card">
      <h3> Your tasks for the day </h3>
      <%if @user_tasks.length > 0%>
        <% @user_tasks.each do |user_task| %>
          <% if user_task.complete == false %>
            <div class="task-card">
              <h4 class="user_task"><%= link_to user_task.task.title, user_user_task_path(current_user, user_task), class: "text-decoration-none text-dark" %></h4>
              <div class="button-container">
                <%= link_to "Check", toggle_complete_user_task_path(user_task), data: { turbo_method: :patch }, class: 'button fa-solid fa-check' %>
                <button class="btn-primary" data-action="click->roll-boulder#nextStage">Roll it!</button>
              </div>
            </div>
          <% else %>
            <h4><%= user_task.task.title %> This task is complete</h4>
          <% end %>
        <% end %>
      <%end%>
  <%# <div class="card">
    <div class="card-content">
      <h2>Favorites</h2>
      <div class="button-container">
        <button class="buttondiv"><i class="fas fa-running"></i></button>
        <button class="buttondiv">Reading</button>
        <button class="buttondiv">Guitar</button>
        <button class="buttondiv">Cooking</button>
      </div>
    </div>
  </div> %>
</div>

<div class="list_card">
  <h3>Your recent achievements</h3>
  <% @achievements.each do |achievement| %>
    <% if achievement.complete %>
      <h4><%= achievement.name %></h4>
    <% end %>
  <%= end %>
</div>

  <%# <div class="card-container">
    <div class="card1">
      <div class="card-content">
        <h2>Try spoken word</h2>
        <h4>Become the illest one day at a time</h4>
        <div class="button-container">
          <!-- Add buttons for Card 1 -->
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card2">
      <div class="card-content">
        <h2>Do a crossword</h2>
        <h4>Keep your mind active <br> chellenge your vocabulary</h4>
        <div class="button-container">
          <!-- Add buttons for Card 2 -->
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card3">
      <div class="card-content">
        <h2>Sing a song</h2>
        <h4>Let's worm ou your vocal cords <br> improve your voice.</h4>
        <div class="button-container">
          <!-- Add buttons for Card 2 -->
        </div>
      </div>
    </div>
  </div>

   <div class="card-container">
    <div class="card4">
      <div class="card-content">
        <h2>Draw things</h2>
        <h4>Who doesn't love to draw</h4>
        <div class="button-container">
          <!-- Add buttons for Card 2 -->
        </div>
      </div>
    </div>
  </div> %>

  <div data-controller="search-tasks interest-search">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3"  >
        <%= form_with url: tasks_path, method: :get, html: {class: "d-flex", data: {search_tasks_target: "form"} } do |f|%>
          <%= f.text_field :query,
                class: "form-control",
                placeholder: "Search for more tasks",
                value: params[:query],
                data: { search_tasks_target: "query",
                action: "keyup->search-tasks#search"
                }
            %>
          <%= f.submit "Search", class: "btn btn-primary d-none", id: "hidden-submit", disabled: true %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= render "interest", tasks: @tasks %>
    </div>
    <div class="container">
      <h2>Tasks</h2>
      <%= render "lists", tasks: @tasks %>
    </div>
  </div>

  <footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>About Us</h3>
        <a href="link">Join our team!</a>
        <a href="link">Contact us</a>
        <a href="link">invite friends</a>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <h4>Email: Sisyphus@contact.com<br>Phone: +447842065915</h4>
      </div>
      <div class="footer-column">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
          <h4>We would love to share more with you!</h4>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Get Our App</h3>
        <ul class="app-icons">
          <li><a href="#" class="app-icon"><i class="fab fa-apple"></i></a></li>
          <li><a href="#" class="app-icon"><i class="fab fa-google-play"></i></a></li>
        </ul>
        <div class="footer-column-divider get-our-app-divider"></div>
    </div>
    </div>
  </div>
</footer>
