<div class="container-top">
  <!-- Top section -->
  <div class="top-section" style="padding: 20px;">
    <div class="row">
      <!-- Left column for account details -->
      <div class="col-md-4">
        <div class="account-details-card mb-4 mt-5">
          <img src="<%= asset_path('Man pushing boulder.png') %>" alt="Avatar Image" class="avatar-image">
          <div class="account-info">
            <h4>John</h4>
            <p><i class="fas fa-map-marker-alt"></i> London, UK</p>
          </div>
        </div>
      </div>
      <!-- Right column for personal details -->
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="percentage-pie-container mb-4 mt-3" style="width: 300px; height: 300px;">
          <h4 class="mb-3"></h4>
          <canvas id="pieChart" canvas>
        </div>
      </div>
      <!-- Recent achievements -->
      <div class="col-md-4">
        <div class="recent-achievements">
          <h3>Recent Achievements</h3>
         <div class="task-container">
            <p><strong>Task:</strong> <%= @task %>Baking a classic cake</p>
            <p><strong>Completed: 2d ago</strong> <%= @completion_time %></p>
            <p><strong></strong> <span class="status">Completed 7 times this month<i class="fas fa-fire"></i></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <!-- Top section -->
    <div class="top-section" style="padding: 20px;">
      <!-- Your existing content -->
      <div class="row">
        <div class="col-md-12 text-center"> <!-- Apply text-center class here -->
          <h3 class="title2">You are doing great! 🏅</h3>
        </div>
      </div>

      <div class="row">
        <% @achievements.each do |achievement| %>
          <div class="col-md-4">
            <div class="achievement-card">
              <div class="achievement-icon">
                <i class="fas fa-medal"></i> <!-- Badge icon -->
              </div>
              <div class="achievement-info">
                <h4><%= achievement.name %></h4>
                <p><%= achievement.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
