<!DOCTYPE html>
<html>
  <head>
    <title>Sisyphus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'js/pie_chart' %> <!-- Include your new JavaScript file -->

  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

  <footer>
    <%= render "shared/foot" %>
  </footer>
</html>
