<!DOCTYPE html>
<html>
  <head>
    <title>Sisyphus - The legend of you trying to get stuff done</title>
    <%= favicon_link_tag asset_path("boulder.png") %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Sisyphus">
    <meta property="og:description" content="The legend of you trying to get stuff done">
    <meta property="og:type" content="web-application">
    <meta property="og:url" content="https://www.deedsofsisyphus.com/">
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/documents/87947823-9aed-42c3-8bb6-13fa0a7881bd.png?token=uxcatX2OKQbK4-7gyQoKNk9wNDHGELh6JcY5uwKdIEU&height=630&width=1200&expires=33248364326">
    <%= javascript_include_tag 'js/pie_chart' %> <!-- Include your new JavaScript file -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# <%= javascript_include_tag 'js/pie_chart' %> <!-- Include your new JavaScript file -->
  </head>

  <body>
    <%# <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> %>
    <%# <%= javascript_include_tag 'confetti' %>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= yield %>
  </body>

  <footer>
    <%= render "shared/foot" %>
  </footer>
</html>
